<md-card ng-repeat="policy in yourPoliciesCtrl.policies">
  <md-card-header>
    <md-card-avatar>
      <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{policy.type}}</span>
      <span class="md-subhead">Expires {{policy.expiry}}</span>
    </md-card-header-text>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="navigation:more-vert"></md-icon>
    </md-button>
  </md-card-header>
  <md-divider ng-if="policy.options"></md-divider>
  <md-card-actions ng-if="policy.options" layout="column" layout-align="start start">
    <md-button class="md-accent" ng-repeat="claim in policy.options.claims">Claim #{{claim}}</md-button>

    <!-- <md-button class="md-accent">Claim #897645321</md-button>
    <md-button class="md-accent">Claim #579438675</md-button> -->
  </md-card-actions>
</md-card>
