your-policies md-card .md-button.md-icon-button {
  float: right;
  margin-right: -0.8rem;
}

md-card md-card-header:last-child md-card-avatar {
  margin-left: 0;
}

md-card md-card-header md-card-avatar+md-card-header-text {
  max-height: none;
}

/* .insurance-type {
  position: relative;
  top: -3rem;
  left: 1.2rem;
} */

.insurance-type {
  position: relative;
  top: -3rem;
  color: #fff;
  text-align: center;
}
