proj-footer {
  background: rgb(24,40,72);
  color: rgba(255,255,255,0.87);

  display: flex;
}

proj-footer * {
  background: rgb(24,40,72);
  color: rgba(255,255,255,0.87);
}

proj-footer md-content {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

proj-footer .copyright-info,
proj-footer .legalise {
  /* color: rgba(0,0,0,0.54); */
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.6em;
}
  proj-footer .legalise {
    margin-top: 1.6rem;
  }

proj-footer .home-logo {
  margin-left: 0;
  margin-right: 3.2rem;

  height: 56px;
  width: 56px;
}
